# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
env/

# Django
db.sqlite3
staticfiles/
media/
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform.lock.hcl
crash.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
